/* styles.css */
.sidebar-drawer {
    width: 200px;
    height: 100vh;
    position: fixed;
    padding: 20px;
    background: var(--background);
    color: var(--text-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: black;
}

.sidebar-title {
    font-size: 1.5rem;
    margin: 0;
    color: var(--text-color);
}

.sidebar-content {
    padding: 20px;
    padding-top: 60px;
}

.sidebar-item {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    transition: background 0.3s ease;
}

.sidebar-item:hover {
    background: var(--icon-color);
}

.sidebar-icon {
    font-size: 20px;
    margin-right: 15px;
    color: var(--icon-color);
}